@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playpen+Sans:wght@100..800&family=Sofadi+One&display=swap');

body {
    background-image: linear-gradient(rgb(253, 193, 177,0.4),rgb(253, 193, 177)), url("img/shadow-studio.jpg");
    background-size: 15%;
    /* background-color: #fdc1b1; */
    text-align: center;
    font-family: "Playpen Sans", cursive;
    color: #62747c;
}
h1 {
    margin: 70px;
    font-family: "Kaushan Script", cursive;
    font-size: 100px;
    color: #526168;
}
.posts-container {
    background-color: #ffd7c8;
    margin: 10px;
    padding: 15px;
}
.post {
    background-color: #f6a395;
    margin: 50 auto;
    padding: 2px;
    width: 40%;
    height: 410px;
    border: 5px solid #93a5ac;
    border-radius: 30px;
}
.post-heading {
    font-size: 23px;
    margin: 4px;
}
.post-text {
    font-size: 15px;
    margin: 5px;
}
.post-img {
    width: 80%;
    height: 60%;
    object-fit: cover;
    margin: 0;
    border: 2px solid #93a5ac;
    border-radius: 15px;
}
.post-link {
    font-size: 15px;
}