@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playpen+Sans:wght@100..800&family=Sofadi+One&display=swap');

body {
    background-image: linear-gradient(rgb(253, 193, 177,0.4),rgb(253, 193, 177)), url("img/shadow-studio.jpg");
    background-size: 15%;
    /* background-color: #fdc1b1; */
    text-align: center;
    font-family: "Playpen Sans", cursive;
}
h1 {
    margin: 70px;
    font-family: "Kaushan Script", cursive;
    font-size: 100px;
    color: #748891;
}
.posts-area {
    background-color: #ffd7c8;
    margin: 10px;
    padding: 15px;
}
.post {
    text-align: center;
    background-color: #f6a395;
    margin: 50 auto;
    padding: 2px;
    width: 40%;
    height: 350px;
    border: 5px solid #93a5ac;
    border-radius: 30px;
}
.post-header {
    font-size: 150px;
    margin: 0px;
}
.post-desc {}
.post-img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}
.post-link {}